.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
#alohub_sipml5 {
    font-family: "Inter", sans-serif;
}

button.alohub_button-call {
    text-align: center;
    width: 43px;
    height: 43px;
    background: #31C75C;
    line-height: 0;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}

button.alohub_button-call svg {
    fill: #FFFFFF;
}

button.alohub_button-call:hover {
    background: #FFFFFF;
    border: 1px solid #31c75c;
}

button.alohub_button-call:hover svg {
    fill: #31c75c;
}

#alohub_login_content {
    position: relative;
}

#alohub_login_form .alohub_icon_minimize {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

#alohub_login_form .alohub_icon_minimize svg {
    transform: rotate(90deg);
}

#alohub_login_form .alohub_icon_minimize svg path {
    fill: #181818;
}

#alohub_login_form .alohub_icon_minimize:hover {
    cursor: pointer;
}

#alohub_login_form .alohub_icon_minimize:hover svg path {
    fill: #EA5332;
}

#alohub_login_form .alohub_form_item {
    margin-bottom: 16px;
}

#alohub_login_form .alohub_form_item label {
    font-family: "Inter", sans-serif;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181818;
    margin-bottom: 8px;
}

#alohub_login_form .alohub_form_item input {
    font-family: "Inter", sans-serif;
    width: 100%;
    padding: 6px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #181818;
    background: #FFFFFF;
    border: 1px solid #EBEDF0;
    box-sizing: border-box;
    border-radius: 6px;
}

#alohub_login_form .alohub_form_item input::placeholder {
    color: #979B9F;
}

#alohub_login_form .alohub_form_item_footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#alohub_login_form .alohub_form_item_footer button {
    font-family: "Inter", sans-serif;
    height: 36px;
    padding: 0 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    border-radius: 4px;
    border: 2px solid #17AB49;
    background: #17AB49;
    color: #FFFFFF;
}

#alohub_login_form {
    padding: 30px 15px 15px;
    opacity: 0;
    display: none;
    text-align: left;
    position: absolute;
    left: -100%;
    min-width: 368px;
    bottom: -100%;
    transition: all 0.5s;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(12, 26, 75, 0.24), 0 3px 8px -1px rgb(50, 50, 71);
    border-radius: 6px;
    min-height: fit-content;
}

#alohub_login_form.is_open {
    display: block;
    opacity: 1;
    z-index: 9;
    top: 0;
    left: 50px;
}

#alohub_calling_content, #alohub_answer_content {
    text-align: center;
    min-width: 328px;
    position: absolute;
    padding: 50px 24px;
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(12, 26, 75, 0.24), 0 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#alohub_calling_content .alohub_icon_full, #alohub_answer_content .alohub_icon_full {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#alohub_calling_content .alohub_icon_full svg, #alohub_answer_content .alohub_icon_full svg {
    transform: rotate(90deg);
    stroke: #181818;
}

#alohub_calling_content .alohub_icon_full:hover, #alohub_answer_content .alohub_icon_full:hover {
    cursor: pointer;
}

#alohub_calling_content .alohub_icon_full:hover svg, #alohub_answer_content .alohub_icon_full:hover svg {
    stroke: #17AB49;
}

#alohub_calling_content .alohub_icon_minimize, #alohub_answer_content .alohub_icon_minimize {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

#alohub_calling_content .alohub_icon_minimize svg, #alohub_answer_content .alohub_icon_minimize svg {
    transform: rotate(90deg);
}

#alohub_calling_content .alohub_icon_minimize svg path, #alohub_answer_content .alohub_icon_minimize svg path {
    fill: #181818;
}

#alohub_calling_content .alohub_icon_minimize:hover, #alohub_answer_content .alohub_icon_minimize:hover {
    cursor: pointer;
}

#alohub_calling_content .alohub_icon_minimize:hover svg path, #alohub_answer_content .alohub_icon_minimize:hover svg path {
    fill: #EA5332;
}

#alohub_calling_content .alohub_icon, #alohub_answer_content .alohub_icon {
    text-align: center;
    width: 43px;
    height: 43px;
    background: rgba(117, 152, 185, 0.5);
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent;
    line-height: 55px;
}

#alohub_calling_content .alohub_icon svg g, #alohub_answer_content .alohub_icon svg g {
    fill: #007BFF;
}

#alohub_calling_content .alohub_title, #alohub_calling_content .alohub_title_calling, #alohub_answer_content .alohub_title, #alohub_answer_content .alohub_title_calling {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #007BFF;
    margin: 20px 0;
}

#alohub_calling_content .alohub_infomation_call .alohub_information_title, #alohub_answer_content .alohub_infomation_call .alohub_information_title {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #65676b;
    margin: 5px 0;
}

#alohub_calling_content .alohub_infomation_call #txtPhoneCalling, #alohub_calling_content .alohub_infomation_call #txtPhoneAnswer, #alohub_answer_content .alohub_infomation_call #txtPhoneCalling, #alohub_answer_content .alohub_infomation_call #txtPhoneAnswer {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#alohub_calling_content .alohub_infomation_call #txtCallTime, #alohub_answer_content .alohub_infomation_call #txtCallTime {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#alohub_calling_content .alohub_button-hangup, #alohub_answer_content .alohub_button-hangup {
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 37px;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: #EA5332;
}

#alohub_calling_content .alohub_button-hangup svg, #alohub_answer_content .alohub_button-hangup svg {
    margin-right: 5px;
    transform: rotate(135deg);
}

#alohub_calling_content .alohub_button-hangup svg path, #alohub_answer_content .alohub_button-hangup svg path {
    fill: #FFFFFF;
}

#alohub_calling_content .alohub_button-hangup:hover, #alohub_answer_content .alohub_button-hangup:hover {
    cursor: pointer;
    color: #EA5332;
    background: #FFFFFF;
    border: 1px solid #EA5332;
}

#alohub_calling_content .alohub_button-hangup:hover svg path, #alohub_answer_content .alohub_button-hangup:hover svg path {
    fill: #EA5332;
}

#alohub_calling_content .alohub_title_calling, #alohub_answer_content .alohub_title_calling {
    display: none;
}

#alohub_calling_content.minimize, #alohub_answer_content.minimize {
    text-align: left;
    right: 30px;
    left: auto;
    transform: translate(0, -50%);
    padding: 30px 24px 16px;
}

#alohub_calling_content.minimize .alohub_infomation_call #txtPhoneCalling, #alohub_calling_content.minimize .alohub_infomation_call #txtPhoneAnswer, #alohub_answer_content.minimize .alohub_infomation_call #txtPhoneCalling, #alohub_answer_content.minimize .alohub_infomation_call #txtPhoneAnswer {
    margin-bottom: 8px;
    font-size: 24px;
}

#alohub_calling_content.minimize .alohub_infomation_call #txtCallTime, #alohub_answer_content.minimize .alohub_infomation_call #txtCallTime {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    color: #007BFF;
}

#alohub_calling_content.minimize .alohub_content_information, #alohub_answer_content.minimize .alohub_content_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#alohub_calling_content.minimize .alohub_icon_full, #alohub_answer_content.minimize .alohub_icon_full {
    display: block;
}

#alohub_calling_content.minimize .alohub_icon_minimize, #alohub_answer_content.minimize .alohub_icon_minimize {
    display: none;
}

#alohub_calling_content.minimize .alohub_icon, #alohub_answer_content.minimize .alohub_icon {
    display: none;
}

#alohub_calling_content.minimize .alohub_title, #alohub_answer_content.minimize .alohub_title {
    display: none;
}

#alohub_calling_content.minimize .alohub_title_calling, #alohub_answer_content.minimize .alohub_title_calling {
    display: block;
}

#alohub_calling_content.minimize .alohub_button-hangup, #alohub_answer_content.minimize .alohub_button-hangup {
    display: block;
    text-align: center;
    padding: 0 8px;
    line-height: 55px;
    height: 43px;
    background: #EA5332;
    border-radius: 50%;
    margin-right: 0;
}

#alohub_calling_content.minimize .alohub_button-hangup svg, #alohub_answer_content.minimize .alohub_button-hangup svg {
    margin-right: 0 !important;
    transform: rotate(135deg);
}

#alohub_calling_content.minimize .alohub_button-hangup svg path, #alohub_answer_content.minimize .alohub_button-hangup svg path {
    fill: #FFFFFF;
}

#alohub_calling_content.minimize .alohub_button-hangup:hover, #alohub_answer_content.minimize .alohub_button-hangup:hover {
    cursor: pointer;
    color: #EA5332;
    background: #FFFFFF;
    border: 1px solid #EA5332;
}

#alohub_calling_content.minimize .alohub_button-hangup:hover svg path, #alohub_answer_content.minimize .alohub_button-hangup:hover svg path {
    fill: #EA5332;
}

#alohub_calling_content.minimize .alohub_button-hangup .alohub_button-title, #alohub_answer_content.minimize .alohub_button-hangup .alohub_button-title {
    display: none;
}

#alohub_call_dial {
    max-width: 328px;
    position: absolute;
    padding: 30px 30px 24px;
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(12, 26, 75, 0.24), 0 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#alohub_call_dial label {
    font-family: "Inter", sans-serif;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #181818;
    margin-bottom: 8px;
}

#alohub_call_dial input {
    font-family: "Inter", sans-serif;
    width: calc(100% - 50px);
    padding: 6px 14px 6px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 22px;
    color: #007BFF;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-right: 5px;
    height: 43px;
    border: 0;
    letter-spacing: 2px;
}

#alohub_call_dial input:focus, #alohub_call_dial input:visited, #alohub_call_dial input:hover {
    border: 0;
    outline: none;
}

#alohub_call_dial input::placeholder {
    color: #979B9F;
}

#alohub_call_dial .alohub_icon_full {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#alohub_call_dial .alohub_icon_full svg {
    transform: rotate(90deg);
    stroke: #181818;
}

#alohub_call_dial .alohub_icon_full:hover {
    cursor: pointer;
}

#alohub_call_dial .alohub_icon_full:hover svg {
    stroke: #17AB49;
}

#alohub_call_dial .alohub_icon_minimize {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

#alohub_call_dial .alohub_icon_minimize svg {
    transform: rotate(90deg);
}

#alohub_call_dial .alohub_icon_minimize svg path {
    fill: #181818;
}

#alohub_call_dial .alohub_icon_minimize:hover {
    cursor: pointer;
}

#alohub_call_dial .alohub_icon_minimize:hover svg path {
    fill: #EA5332;
}

#alohub_call_dial.minimize {
    right: 30px;
    left: auto;
    transform: translate(0, -50%);
}

#alohub_call_dial.minimize .alohub_icon_full {
    display: block;
}

#alohub_call_dial.minimize .alohub_icon_minimize {
    display: none;
}